.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  color: black;
}
.pdf-container .ReactPDF__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pdf-container .ReactPDF__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}
.pdf-container .ReactPDF__Page canvas {
  max-width: 100%;
  height: auto !important;
}
.pdf-container .ReactPDF__Loader,
.pdf-container .ReactPDF__Error,
.pdf-container .ReactPDF__NoData {
  padding: 20px;
  color: black;
}
.hide_actions {
  visibility: hidden;
  position: absolute;
}
.show_actions {
  visibility: visible;
  position: absolute;
  background: #cccccc;
}
